<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, ~{::styles}, ~{::scripts})}">

<th:block th:fragment="styles">
  <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</th:block>

<head>
  <title>[[${funcionario.id == null ? 'Novo' : 'Editar'}]] Funcionário</title>
</head>

<body>
  <main>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <!-- /.card-header -->
          <!-- form start -->
          <form method="POST" th:object="${funcionario}">
            <div class="card-body">
              <fieldset>
                <legend>Dados Pessoais</legend>

                <input type="hidden" th:field="*{id}">

                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <input type="text" class="form-control" placeholder="Mariane Josefa Gonçalves" th:field="*{nome}">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="cpf">CPF</label>
                      <input type="text" class="form-control" placeholder="401.447.368-61" th:field="*{cpf}">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="telefone">Telefone</label>
                      <input type="text" class="form-control" placeholder="(85) 99856-6603" th:field="*{telefone}">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" placeholder="mariane@exemplo.com" th:field="*{email}">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="dataNascimento">Data de Nascimento</label>
                      <input type="date" class="form-control" th:field="*{dataNascimento}">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="dataAdmissao">Data de Admissão</label>
                      <input type="date" class="form-control" th:field="*{dataAdmissao}">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="dataDemissao">Data de Demissão</label>
                      <input type="date" class="form-control" th:field="*{dataDemissao}">
                    </div>
                  </div>
                </div>

                <!-- <div class="row"> -->
                <!--   <div class="col-sm-12"> -->
                <!--     <div class="form-group"> -->
                <!--       <label>Cargo</label> -->
                <!--       <select th:field="*{cargo}" class="form-control" style="width: 100%;"> -->
                <!--         <option th:each="cargo : ${cargos}" th:text="${cargo.nome}" th:value="${cargo.id}">Desenvolvedor(a) Front End Jr</option> -->
                <!--       </select> -->
                <!--     </div> -->
                <!--   </div> -->
                <!-- </div> -->
              </fieldset>

              <fieldset>
                <legend>Endereço</legend>

                <input type="hidden" th:field="*{endereco.id}">

                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="endereco.cep">CEP</label>
                      <input type="text" class="form-control" placeholder="61626-365" th:field="*{endereco.cep}">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label>Estado</label>
                      <select th:field="*{endereco.uf}" class="form-control select2bs4" style="width: 100%;">
                        <option th:each="uf : ${ufs}" th:text="${uf}" th:value="${uf}">SP</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="endereco.cidade">Cidade</label>
                      <input type="text" class="form-control" placeholder="Caucaia" th:field="*{endereco.cidade}">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="endereco.bairro">Bairro</label>
                      <input type="text" class="form-control" placeholder="Pacheco" th:field="*{endereco.bairro}">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="endereco.logradouro">Logradouro</label>
                      <input type="text" class="form-control" placeholder="Rua Santo Antônio"
                        th:field="*{endereco.logradouro}">
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="endereco.numero">Número</label>
                      <input type="text" class="form-control" placeholder="283" th:field="*{endereco.numero}">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="endereco.complemento">Complemento</label>
                      <input type="text" class="form-control" placeholder="Quadra D" th:field="*{endereco.complemento}">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <th:block th:fragment="scripts">
    <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>
    <script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>
    <script>
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })

      $('#cpf').inputmask(
        {"mask": "999.999.999-99"}
      )
      $('#telefone').inputmask(
        {"mask": "(99) 99999-9999"}
      )
      $('#endereco\\.cep').inputmask(
        {"mask": "99999-999"}
      )
    </script>
  </th:block>
</body>

</html>
