<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}">

<head>
  <title>Lista de Funcionário</title>
</head>

<body>
  <main>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Telefone</th>
                  <th>Cidade</th>
                  <th>Estado</th>
                  <th>Admissão</th>
                  <th>Demissão</th>
                  <!-- <th>Cargo</th> -->
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="funcionario : ${funcionarios}">
                  <td th:text="${funcionario.id}">183</td>
                  <td th:text="${funcionario.nome}">Clara Giovana Daniela Duarte</td>
                  <td th:text="${funcionario.email}">clara_giovana@gmail.com</td>
                  <td th:text="${funcionario.telefone}">(96) 98195-9127</td>
                  <td th:text="${funcionario.endereco.cidade}">Rio de Janeiro</td>
                  <td th:text="${funcionario.endereco.uf}">RJ</td>
                  <td th:text="${#temporals.format(funcionario.dataAdmissao)}">01/01/2020</td>
                  <td th:text="${funcionario.dataDemissao == null ? '-' : #temporals.format(funcionario.dataDemissao)}">
                    01/01/2021</td>
                  <!-- <td th:text="${funcionario.cargo.nome}">Desenvolvedor(a) Front End Jr</td> -->
                  <td>
                    <div class="btn-group">
                      <a type="button" data-toggle="popover" data-placement="top" data-content="Detalhes"
                        data-trigger="hover" class="btn btn-primary"
                        th:href="@{/funcionarios/{id} (id=${funcionario.id})}">
                        <i class="fas fa-eye"></i>
                      </a>
                      <a type="button" data-toggle="popover" data-placement="top" data-content="Editar"
                        data-trigger="hover" class="btn btn-warning"
                        th:href="@{/funcionarios/{id}/editar (id=${funcionario.id})}">
                        <i class="fas fa-edit"></i>
                      </a>
                      <a type="button" data-toggle="popover" data-placement="top" data-content="Remover"
                        data-trigger="hover" class="btn btn-danger"
                        th:href="@{/funcionarios/{id}/excluir (id=${funcionario.id})}"
                        onclick="return confirm('Tem certeza que deseja excluir o funcionario?');">
                        <i class="fas fa-trash"></i>
                      </a>
                    </div>
                  <td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </main>

  <th:block th:fragment="scripts">
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </th:block>
</body>

</html>
